body {
    background-color: #413d3d;
}

.wrapper {
    width: 1000px;
    display: flex;
    margin: 0 auto;

}

.grid {
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    flex: 1;
}

.category {
    width: 200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    text-align: left;
}


.grid h1 {
    font-family: "sans-serif";
    background-color: #654321;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
}

.category h1 {
    font-family: "sans-serif";
    background-color: #654321;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    padding: 2px 0px;
}

.grid #question {
    font-family: "monospace";
    font-size: 30px;
    color: #654321;
}

.answer {
    width: 100%;
    background-color: #fff;
    border: 1px solid black;
    border-color: #654321;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.buttons {
    margin-top: 20px;
    margin-left: 80px;
}

.drop-content {
    position: absolute;
    z-index: 1;
    display: none;
}

.drop-content.active {
    display: block;
}

.drop-content li {
    background-color: #654321;
    width: 148px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #2b1d0e;
    text-decoration: none;
    display: block;
    margin-left: 30px;
    text-align: center;
}

.drop-content li:hover {
    cursor: pointer;
    background-color: #2b1d0e;
}

.loader {
    margin: 5rem auto;
    text-align: center;
}

.loader svg {
    height: 5.5rem;
    width: 5.5rem;
    fill: #654321;
    transform-origin: 44% 50%;
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.category-label {
    font-family: "sans-serif";
    color: #654321;
    font-size: 15px;
    padding: 2px 1px;
}

.options-container {
    margin: 10px;
}

.option {
    padding: 10px 20px;
    color: #654321;
    font-family: "sans-serif";
    font-size: 15px;
}

#new-btn:active,
#timer-btn:active,
#auto-select:active,
#uncheck:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#new-btn:hover,
#timer-btn:hover,
#auto-select:hover,
#uncheck:hover {
    cursor: pointer;
    background-color: #2b1d0e;
}

#new-btn:focus,
#timer-btn:focus,
#auto-select:focus,
#uncheck:focus {
    outline: 0;
}

#new-btn,
#timer-btn {
    background-color: #654321;
    width: 150px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #2b1d0e;
    margin: 30px 50px 0px 30px;
    padding: 10px 10px;
    border-radius: 12px;
}

#auto-select,
#uncheck {
    background-color: #654321;
    width: 150px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #2b1d0e;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: -55px;
    margin-right: 50px;
    border-radius: 12px;
}